.article-list{
	margin-top:6px;
	.am-navbar{
		border-bottom: 1px solid #eee;
	}

	dl{
		margin: 0;
		background-color: #fff;
		padding: 12px 10px;
		border-bottom: 1px solid #eee;
		font-size: 1.1rem;
		display: flex;
		justify-content:space-between;
		align-items:center;
		color:#666;
		dt{
			span{
				margin-left: 5px;
			}
			
		}
		dd{
			.fa.fa-angle-right{
				font-size: 1.4rem;
			}
		}
	}
}
.article-content{
	overflow: hidden;
	table,tr,td{
		width: 100%!important;
	}
	img{
		width: 90%!important;
	}
}