.search{	
	.worker-lists{
		margin-top:6px;
	}
	.search-tools{
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #fff;
		div{
			flex:1;
			text-align: center;
			height: 30px;
			line-height: 30px;
			font-size: 1.1rem;
			border-right: 1px solid #eee;
			color: #666;
			&:last-child{
				border-right:none;
			}

		}
	}
}
.pre-search{
	.am-navbar{
	border-bottom: 1px solid #eee;
   }
   .am-navbar-right{
	   	span{
	   		font-size: 1rem;
	   		color: #999;
	   	}
   }
   .work-list{
   		dl{
   			margin:0;
   			padding:0 0 10px;
   			border-bottom:1px solid #eee;
   			dt{
				margin:0;
   				padding:10px;
   				font-size:1.1rem;
   				color: #999;
   			}
   			dd{
   				margin:0;
   				padding:0 10px;
   				display: flex;
   				justify-content: space-between;
   				align-items:center;
   				flex-wrap:wrap;

   				a{
   					display: block;
					width: 31%;
					height: 24px;
					line-height: 24px;
					color: #666;
					border:1px solid #eee;
					border-radius:3px;
					text-align: center;
					font-size:1rem;
					background-color:#fff;
					margin-bottom: 6px;
   				}
   			}
   		}
   }
}